@keyframes rainbow {
	0% {bottom:-4px; color: #0aff91; text-shadow: #0aff91 0 0 0.75rem;}
    25% {color: #0a64ff; text-shadow: #0a64ff 0 0 0.75rem;}
	50% {bottom:4px; color: #5c0aff; text-shadow: #5c0aff 0 0 0.75rem;}
    75% {color: #ff0a68; text-shadow: #ff0a68 0 0 0.75rem;}
	100% {bottom:-4px; color: #0aff91; text-shadow: #0aff91 0 0 0.75rem;}
}

.hidden {
	display:none;
}

.loading_screen {
	position:fixed;
	top:0;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	font-size: 5rem;
	font-family:"spacemono", "Courier New", monospace;
	background-color: var(--bg-color);
	width:100%;
	height:100%;
	z-index: 1000;
    animation: rainbow 1.5s infinite;
}

.loading_screen.hidden {
	width:0;
	height:0;
	z-index:0;
	display:none;
}

.button-wrapper {
    display:flex;
    flex-direction:column;
    align-items:center;
}

button {
    padding:0.5rem;
    color:var(--main-color);
    font-family:"spacemono", "Courier New", monospace;
    text-align:center;
    text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
    border: 0.1rem solid var(--main-color);
    box-shadow: 0 0 0.75rem var(--main-box-glow-color),
                inset 0 0 0.75rem var(--main-box-glow-color);
    background-color:var(--main-bg-color-2);
    transition-duration:0.15s;
    font-size:1.5rem; 
    height:4rem;
    width:50%;
}

button:hover {
    transform:scale(1.05,1.05);
    color:var(--bg-color);
    background-color:var(--main-color);
}

button:active {
    transform:scale(0.98,0.98);
}

.log {
    border:0.25rem solid var(--text-color);
	box-shadow: 0 0 1.25rem var(--text-glow-color),
    inset 0 0 1.25rem var(--text-glow-color);
    padding:1rem;
    margin-bottom: 4rem;
    background-color:var(--text-bg-color);
}

.log h2 {
    background-color:var(--transparent);
	font-family: 'Zector', 'Courier New', monospace;
	font-weight: bold;
	font-size: 3rem;
	color: var(--main-color);
    text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
	text-align:left;
	position:relative;
	margin:0 0 1rem 0;
}

.log h2 .sub {
    background-color:var(--transparent);
    font-size: 2rem;
    color: var(--text-color);
    text-shadow: var(--text-glow-color) 0 0 0.75rem;
}

.log h3 {
    background-color:var(--transparent);
    font-family: "spacemono", 'Courier New', monospace;
    text-shadow: var(--text-glow-color) 0 0 0.75rem;
    font-weight: bold;
	font-size: 1.5rem;
}

.log p {
    background-color:var(--transparent);
    text-align:left;
    font-family: "spacemono", 'Courier New', monospace;
}

p {
	background-color:var(--transparent);
	font-family: 'spacemono', 'Courier New', monospace;
	font-weight: normal;
	line-height: 2;
	font-size: 1.5rem;
	color: var(--text-color);
	text-align:justify;
	position:relative;
	float:center;
	margin:0rem;
}

p.message {
	color: var(--main-color);
	text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
	text-align:center;
}

h4 {
	background-color:var(--transparent);
	font-family: 'Zector', 'Courier New', monospace;
	font-weight: bold;
	font-size: 2rem;
	color: var(--text-color);
    text-shadow: var(--text-glow-color) 0 0 0.75rem;
	text-align:center;
	position:relative;
	float:center;
	margin:0rem;
}