main h1 {
	font-family:"spacemono", "Courier New", monospace;
	background-color:var(--text-bg-color);
	text-align:center;
	font-size:4vw;
	text-shadow: var(--text-glow-color) 0 0 0.75rem;
	border:0.3rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
				inset 0 0 0.75rem var(--text-glow-color);
	padding:1rem;
}

main h2 {
	text-align:center;
	font-size: 2.5rem;
	font-weight:normal;
}

main h3 {
	text-align:center;
	font-size:2rem;
	font-weight:normal;
	text-shadow: var(--text-glow-color) 0 0 0.75rem;
	margin-top:2rem;
	margin-bottom:1rem;
}

.hrule {
	margin-top:2.5rem;
	margin-bottom:0rem;
	border:0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color);
}

.releases {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content:flex-start;
	align-items:flex-start;
	gap:2rem 2rem;
}

.release {
	display:flex;
	flex-flow: column nowrap;
	width:15rem;
	align-items:center;
	border:0.1rem solid var(--main-color);
	box-shadow: 0 0 0.75rem var(--main-glow-color),
				inset 0 0 0.75rem var(--main-glow-color);
			background-color:var(--transparent);
	text-shadow: var(--accent-text-glow-color) 0 0 0.5rem;
	transition-duration:0.2s;
	color:var(--accent-color);
	text-decoration:none;
}

.release:hover {
	background-color:var(--main-color);
	color:var(--bg-color);
	text-shadow: none;
	
}

.release img {
	margin: 0.5rem 0;
	width:14rem;
	height:14rem;
}

.release .title {
	position:relative;
	top:0.1rem;
	font-family:"spacemono", "Courier New", monospace;
	text-align:center;
	font-weight:bold;
	background-color:var(--transparent);
	margin: 0 0.5rem 0.5rem 0.5rem;
}

a.pat {
	text-decoration: none;
	cursor:text;
}

/* Text Highlights */

main span.pink {
	color: var(--main-color);
	text-shadow: var(--main-text-glow-color) 0 0 0.5rem;
}	

main strong {
	color: var(--accent-color);
	font-weight: normal;
	text-shadow: var(--accent-text-glow-color) 0 0 0.5rem;
}