@keyframes widen {
	0%{width:0;}
	100%{width:calc(100vw - 9rem);}
}

@keyframes fade {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes shake {
    0%{transform:translate(1px,2px);}
	10%{transform:translate(-1px,-1px);}
	20%{transform:translate(2px,2px);}
	30%{transform:translate(1px,-1px);}
	40%{transform:translate(-1px,-2px);}
	50%{transform:translate(-2px,1px);}
	60%{transform:translate(1px,-1px);}
	70%{transform:translate(-2px,1px);}
	80%{transform:translate(-1px,-2px);}
	90%{transform:translate(1px,2px);}
	100%{transform:translate(2px,-1px);}
}

@keyframes click {
	5%{transform:scale(1.30, 1.30);}
	100%{transform:scale(1, 1);}
}

.fade-in {
    animation: fade 1s forwards;
}

.fade-out {
    animation: fade 1s backwards;
}

.shake {
	animation: shake 0.25s forwards;
}

main {
	padding-top:0;
}

main h1 {
	position:relative;
	font-family:"spacemono", "Courier New", monospace;
	background-color:var(--text-bg-color);
	text-align:center;
	font-size:4.5vw;
	text-shadow: var(--text-glow-color) 0 0 0.75rem;
	border:0.3rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
				inset 0 0 0.75rem var(--text-glow-color);
	padding:1rem;
	margin: 0.5rem auto 0 auto;
	
	white-space:nowrap;
	overflow:hidden;
	
	display:flex;
	align-items:center;
	justify-content:center;
	
	animation: widen 0.7s cubic-bezier(.56,.09,.28,.99),
				0.5s ease-in-out 1 reverse fade-in/*,0.5s ease-in-out 1 reverse right-in*/;

	width:calc(100vw - 9rem);
}

main h1 img {
	width:30vw;
	height:auto;
}

main h2 {
	text-align:center;
	font-size: 2.5rem;
	margin: 1rem 1rem;
	font-weight:normal;
}

main .game {
	position:relative;
    font-family:"spacemono", "Courier New", monospace;
	top:2rem;
	animation: 0.5s ease-in-out 1 reverse fade-in;
    background:var(--text-bg-color);
    text-shadow: var(--text-glow-color) 0 0 0.75rem;
	border:0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
				inset 0 0 0.75rem var(--text-glow-color);
	padding:1rem;
}

main .game * {
    background:var(--transparent);
} 

main .game .main_panel {
    padding: 0.5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

main .game .resource_panel {
    background:var(--text-bg-color-solid-2);
    text-shadow: var(--text-glow-color) 0 0 0.75rem;
	border:0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
    display:flex;
    flex-direction: row;
	text-align:center;
    justify-content: center;
    padding:1rem;
	position:sticky;
	top:1rem;
}

main .game .resource_display {
    text-align:center;
    line-height:125%;
    font-size: 2rem;
	padding:0rem 1rem;
    width:25%;
}

main .game .resource_display .gain_display {
	font-size: 1rem;
	color:var(--text-glow-color);
	margin:0;
	padding:0;
	text-align: center;
	text-shadow: none
}

main .game .generate_panel {
    background:var(--text-bg-color);
    text-shadow: var(--text-glow-color) 0 0 0.75rem;
	border:0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
    display:flex;
    flex-direction: row;
	text-align:center;
    justify-content: center;
    padding:1rem;
}

main .game .generate_panel .generate_button {
	display:flex;
	flex-direction: column;
	text-align:center;
}

main .game .generate_panel .generate_button button {
	font-size: 2rem;
}

main .game .generate_panel .generate_button .btnval_display {
	margin-top: 1rem;
	color: var(--accent-color);
	text-shadow: var(--accent-text-glow-color) 0 0 0.75rem;
	text-align: center;
}

main .game .upgrade_panel {
	background:var(--text-bg-color);
    text-shadow: var(--text-glow-color) 0 0 0.75rem;
	border:0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
    display:flex;
    flex-direction: row;
	text-align:center;
    justify-content: center;
    padding:2rem;
}

main .game .upgrade_panel .upgrade_list {
    display:flex;
    flex-direction: row;
	text-align:center;
    justify-content: center;
	flex-wrap: wrap;
    padding:2rem;
}

main .game .upgrade_panel .upgrade_list .upgrade {
	text-shadow: var(--text-glow-color) 0 0 0.75rem;
	border:0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
    display:flex;
    flex-direction: column;
	text-align:center;
    justify-content: center;
    padding:1rem;
	margin:1rem;
	width: 25%;
}

main .game button {
    padding:0.5rem;
    color:var(--main-color);
    font-family:"spacemono", "Courier New", monospace;
    text-align:center;
    text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
    border: 0.1rem solid var(--main-color);
    box-shadow: 0 0 0.75rem var(--main-box-glow-color),
                inset 0 0 0.75rem var(--main-box-glow-color);
    background-color:var(--main-bg-color-2);
    transition-duration:0.15s;
    font-size:1.25rem;
}

main .game button:hover {
    background-color:var(--main-color);
    color:var(--bg-color);
    cursor:pointer;
}

main .game .upgrade_panel button:active {
	transform: scale(0.95, 0.95);
	transition-duration:0.05s;
}

main .game button.cannot_buy{
	color:var(--deactivated-glow-color);
	background:var(--deactivated-glow-color);
	text-shadow: var(--deactivated-glow-color) 0 0 0.75rem;
	border: 0.1rem solid var(--deactivated-glow-color);
	box-shadow: 0 0 0.75rem var(--deactivated-glow-color),
				inset 0 0 0.75rem var(--deactivated-glow-color);
}

main .game button.bought{
	color:var(--deactivated-color);
	background:var(--deactivated-glow-color);
	text-shadow: var(--deactivated-glow-color) 0 0 0.75rem;
	border: 0.1rem solid var(--deactivated-glow-color);
	box-shadow: 0 0 0.75rem var(--deactivated-glow-color),
				inset 0 0 0.75rem var(--deactivated-glow-color);
	pointer-events:none;
}

main .game .not_unlocked {
    display: none;
}

main .game .upgrade_panel .upgrade_list .upgrade.hidden {
    display: none;
}

main .game h3 {
	font-family:"spacemono", "Courier New", monospace;
	font-weight:normal;
	font-size: 1.5rem;
	text-align: left;
	vertical-align:top;
	margin:0 0 0.5rem 0;
}

main .game .main_panel .upgrade_panel p.cost {
	color:var(--main-color);
    font-family:"spacemono", "Courier New", monospace;
    text-align:center;
    text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
	margin-bottom: 0.25rem;
}

main .game .process_panel {
	display:flex;
	flex-direction:row;
	gap:1rem;
}

main .game .cores_panel {
	width:15%;
	padding: 1rem;
	background-color: var(--main-bg-color);
	border: 0.1rem solid var(--main-color);
	box-shadow: 0 0 0.75rem var(--main-box-glow-color),
	inset 0 0 0.75rem var(--main-box-glow-color);
}

main .game .cores_panel h2 {
	margin:1rem;
}

main .game .cores_panel h4 {
	font-size: 1.25rem;
	font-weight: normal;
	margin: 0;
}

main .game .cores_panel .wrapper_bar {
	width: 100%;
	height: 1rem;
	border: 0.1rem solid var(--main-color);
	box-shadow: 0 0 0.75rem var(--main-box-glow-color),
		inset 0 0 0.75rem var(--main-box-glow-color);
}

main .game .cores_panel .wrapper_bar .inner_bar {
	margin:0;
	padding:0;
	display:inline-block;
	transition-timing-function: ease-out;
	transition-duration: 0.2s;
	height:1rem;
	width:0%;
	background-color: var(--main-color);
}

main .game .process_list {
	width:85%;
	display:flex;
	flex-direction:column;
	align-items:stretch;
	gap: 1rem;
}

main .game .process_list .process {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	gap:0.5rem;
	padding: 0.5rem;
	border: 0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
}

main .game .process_list .process .button_info {
	font-size: 0.875rem;
}

main .game .process_list .process .button_title {
	font-size: 1.25rem;
}

main .game .process_list .process .process_buttons {
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	gap: 0.5rem;
	width:50%;
}

main .game .process_list .process .process_buttons button {
	font-size: 1rem;
	width:33%;
}

main .game .process_list .process .process_buttons button:active {
	transform: scale(0.95, 0.95);
	transition-duration:0.05s;
}

main .game .process_list .process .process_info {
	display:flex;
	flex-grow:1;
	width:50%;
	flex-direction:column;
}

main .game .process_list .process h3 {
	margin:0;
	font-size: 2rem;
	text-align:left;
	margin-left: 1rem;
}

main .game .process_list .process .description {
	font-size: 0.75rem;
	margin-left: 1rem;
}

main .game .process_list .process .process_info p {
	margin-left: 1rem;
}

main .game .options {
	display: flex;
	flex-direction: row;
	gap: 3rem;
}

main .game .options_panel .options button:active {
	transform: scale(0.95, 0.95);
	transition-duration:0.05s;
}

main .game p {
	text-align:left;
	font-size: 1rem;
	margin: 0 0 0.5rem 0;
}

main .game .accent_suffix span.suffix {
	color: var(--accent-color);
	font-weight: normal;
	text-shadow: var(--accent-text-glow-color) 0 0 0.5rem;
}

main .game .main_panel .upgrade_panel span.suffix {
	color:var(--main-color);
    font-family:"spacemono", "Courier New", monospace;
    text-align:center;
    text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
}

main span.pink {
	color: var(--main-color);
	text-shadow: var(--main-text-glow-color) 0 0 0.5rem;
}	

main strong {
	color: var(--accent-color);
	font-weight: normal;
	text-shadow: var(--accent-text-glow-color) 0 0 0.5rem;
}

main p a:link, main p a:visited {
	color: var(--main-color);
	text-shadow: var(--main-text-glow-color) 0 0 0.5rem;
	transition-duration:0.2s;
}	

main p a:hover {
	color: var(--accent-color);
	text-shadow: var(--accent-text-glow-color) 0 0 0.5rem;
	text-decoration:none;
}	