p {
	background-color:var(--transparent);
	font-family: 'spacemono', 'Courier New', monospace;
	font-weight: normal;
	font-size: 1.5rem;
	color: var(--text-color);
	text-align:justify;
	position:relative;
	float:center;
	margin:0rem;
}

p.message {
	color: var(--main-color);
}

h4 {
	background-color:var(--transparent);
	font-family: 'Zector', 'Courier New', monospace;
	font-weight: bold;
	font-size: 2rem;
	color: var(--text-color);
	text-align:left;
	position:relative;
	float:center;
	margin:0rem;
}