img {
   drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

main {
	cursor:url("../images/big-grab.png");
	display:flex;
	flex-flow: row wrap;
	justify-content:center;
	gap:2rem 2rem;
}

.sign {
	background-image:url("../images/sign-pat.png");
	display:absolute;
	width:300px;
	height:276px;
}
.cat {
	display:absolute;
	width:250px;
	height:250px;
	background-image:url("../images/stare-pat.png");
	background-size:100% 100%;
	transition-duration:40ms;
	transition-timing-function:ease-in;
}

.cat:hover {
	cursor:url("../images/big-grab.png"), grab;
	background-image:url("../images/pat.png");
}

.cat:active {
	cursor:url("../images/big-grabbing.png"), grabbing;
	transform:scale(1.25,0.85);
}