@keyframes widen {
	0%{width:0;}
	100%{width:calc(100vw - 9rem);}
}

@keyframes fade {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes appear {
    from { background-color: white;}
    to { background-color: var(--text-bg-color);}
}

@keyframes appear-shake {
	0%{transform:translate(1px,2px);}
	5%{transform:translate(-1px,-1px);}
	10%{transform:translate(2px,2px);}
	15%{transform:translate(1px,-1px);}
	20%{transform:translate(-1px,-2px);}
	25%{transform:translate(-2px,1px);}
	30%{transform:translate(1px,-1px);}
	35%{transform:translate(-1px,1px);}
	40%{transform:translate(-1px,-1px);}
	45%{transform:translate(1px,1px);}
	50%{transform:translate(0px,-1px);}
	100%{transform:translate(0px,0px);} 
}

@keyframes shake {
    0%{transform:translate(1px,2px);}
	10%{transform:translate(-1px,-1px);}
	20%{transform:translate(2px,2px);}
	30%{transform:translate(1px,-1px);}
	40%{transform:translate(-1px,-2px);}
	50%{transform:translate(-2px,1px);}
	60%{transform:translate(1px,-1px);}
	70%{transform:translate(-2px,1px);}
	80%{transform:translate(-1px,-2px);}
	90%{transform:translate(1px,2px);}
	100%{transform:translate(2px,-1px);}
}

@keyframes click {
	5%{transform:scale(1.30, 1.30);}
	100%{transform:scale(1, 1);}
}

@keyframes rainbow {
	0% {color: #0aefff; text-shadow: #0aefff 0 0 0.75rem;}
    15% {color: #0a64ff; text-shadow: #0a64ff 0 0 0.75rem;}
	30% {color: #5c0aff; text-shadow: #5c0aff 0 0 0.75rem;}
    50% {color: #ff0a68; text-shadow: #ff0a68 0 0 0.75rem;}
	70% {color: #5c0aff; text-shadow: #5c0aff 0 0 0.75rem;}
	75% {color: #0a64ff; text-shadow: #0a64ff 0 0 0.75rem;}
	100% {color: #0aefff; text-shadow: #0aefff 0 0 0.75rem;}
}

@keyframes error {
    0%{transform:translate(1px,1px);}
	10%{transform:translate(-1px,-1px);}
	20%{transform:translate(1px,0px);}
	30%{transform:translate(0px,-1px);}
	40%{transform:translate(-1px,-1px);}
	50%{transform:translate(0px,1px);}
	60%{transform:translate(1px,-1px);}
	70%{transform:translate(-1px,0px);}
	80%{transform:translate(-1px,-1px);}
	90%{transform:translate(0px,0px);}
	100%{transform:translate(1px,-1px);}
}

.fade-in {
    animation: fade 0.5s forwards;
}

.fade-out {
    animation: fade 0.5s backwards;
}

.fade-out-slow {
    animation: fade 2s backwards;
}

.fade-out-notification {
    animation: fade 3s backwards;
	animation-timing-function: cubic-bezier(0.15, 0, 1, 0.25);
}

.fade-out-bonus {
    animation: fade 10s backwards;
	animation-timing-function: cubic-bezier(0.5, 0, 1, 0.25);
}

.appear {
	animation: appear 0.5s forwards,
		appear-shake 0.5s;
}

.shake {
	animation: shake 0.25s;
}

.error {
	display:inline-block;
	animation: error 0.25s infinite;
	/* color: var(--main-color);
	text-shadow: var(--main-text-glow-color) 0 0 0.75rem; */
}

.rainbow {
	animation: rainbow 1.5s infinite;
}

main {
	padding-top:0;
}

main h1 {
	position:relative;
	font-family:"spacemono", "Courier New", monospace;
	background-color:var(--text-bg-color);
	text-align:center;
	font-size:4.5vw;
	text-shadow: var(--text-glow-color) 0 0 0.75rem;
	border:0.3rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
				inset 0 0 0.75rem var(--text-glow-color);
	padding:1rem;
	margin: 0.5rem auto 0 auto;
	
	white-space:nowrap;
	overflow:hidden;
	
	display:flex;
	align-items:center;
	justify-content:center;
	
	animation: widen 0.7s cubic-bezier(.56,.09,.28,.99),
				0.5s ease-in-out 1 reverse fade-in/*,0.5s ease-in-out 1 reverse right-in*/;

	width:calc(100vw - 9rem);
}

main h1 img {
	width:30vw;
	height:auto;
}

main h2 {
	text-align:center;
	font-size: 2.5rem;
	margin:4rem 0 0 0;
	font-weight:normal;
}

main .game {
	position:relative;
    font-family:"spacemono", "Courier New", monospace;
	top:2rem;
	animation: 0.5s ease-in-out 1 reverse fade-in;
    /*background:var(--text-bg-color);*/
    text-shadow: var(--text-glow-color) 0 0 0.75rem;
	border:0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
				inset 0 0 0.75rem var(--text-glow-color);
	padding:1rem;
}

main .game * {
    background:var(--transparent);
} 

main .game .bonus_item {
	display:none;
	position:absolute;
	flex-direction:column;
	align-items:center;
	top:0;
	left:0;
	z-index: 999;
}

main .game .bonus_text {
	display:none;
	background:var(--text-bg-color-solid);
	padding:0.75rem;
	font-size:1rem;
	color:var(--main-color);
	text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
	border:0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
	z-index:999;
	text-align:center;
}

main .game .bonus_text .title {
	font-size:1.75rem;
	color:var(--text-color);
	text-shadow: var(--text-glow-color) 0 0 0.75rem;
}

main .game .bonus_icon {
	transition-duration:0.25s;
	border:0.25rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
}

main .game .bonus_icon:hover {
	transform:scale(1.25, 1.25);
	transition-duration:0.25s;
}

main .game .bonus_icon:active {
	transform:scale(1, 1);
	transition-duration:0.25s;
}

main .game .bonus_duration {
	display:none;
	position:fixed;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:50px;
	height:50px;
	text-align: center;
	bottom:2rem;
	right:2rem;
	z-index:999;
	background:var(--main-bg-color);
	border:0.25rem solid var(--main-color);
	box-shadow: 0 0 0.75rem var(--main-box-glow-color),
		inset 0 0 0.75rem var(--main-box-glow-color);
}

main .game .main_panel {
    padding: 0.5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

main .game .resource_panel {
    background:var(--text-bg-color-solid);
    text-shadow: var(--text-glow-color) 0 0 0.75rem;
	border:0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
    display:flex;
    flex-direction: row;
	text-align:center;
    justify-content: center;
    padding:1rem;
	position:sticky;
	top:1rem;
}

main .game .resource_display {
    text-align:center;
    line-height:125%;
    font-size: 2rem;
	padding:0rem 1rem;
    width:25%;
}

main .game .resource_display .gain_display {
	font-size: 1rem;
	color:var(--text-glow-color);
	margin:0;
	padding:0;
	text-align: center;
	text-shadow: none
}

main .game .generate_panel {
    /*background:var(--text-bg-color);
    text-shadow: var(--text-glow-color) 0 0 0.75rem;
	border:0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);*/
	margin-top:1rem;
    display:flex;
    flex-direction: row;
	text-align:center;
    justify-content: center;
    padding:1rem;
}

main .game .generate_panel .generate_button {
	display:flex;
	flex-direction: column;
	text-align:center;
	padding: 0 1rem;
	width:25%;
}

main .game .generate_panel .generate_button.not_unlocked {
	display:none;
}

main .game .generate_panel .generate_button button {
	font-size: 2rem;
}

main .game .generate_panel .generate_button .btnval_display {
	margin-top: 1rem;
	color: var(--accent-color);
	text-shadow: var(--accent-text-glow-color) 0 0 0.75rem;
	text-align: center;
}

main .game .generate_panel .generate_button .btnval_display .white {
	color: var(--text-color);
}

main .game .tabs_wrapper {
	margin-top: 1rem;
}

main .game .tabs_wrapper .tab_buttons {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	gap:1rem;

}	

main .game .tabs_wrapper .tab_buttons button {
	padding: 1rem 0;
	font-size: 1.5rem;
	flex: 1 1 0px;
	transition-duration:0.1s;
}

main .game .tabs_wrapper .tab_buttons button:hover {
	background:var(--main-bg-color-2);
	color:var(--main-color);
	transform: scale(1.05, 1.05);
	transition-duration:0.1s;
}

main .game .tabs_wrapper .tab_buttons button:active {
	transform: scale(1, 1);
}

main .game .tabs_wrapper .tab_buttons button.selected {
	background:var(--main-color);
	color:var(--bg-color);
	transition-duration:0.1s;
}

main .game .tab_buttons .locked_tab {
	display:none;
}

main .game .tabs_wrapper .inactive_tab {
	display:none;
}

main .game .tabs_wrapper .active_tab {
	display:block;
}

main .game .tabs_wrapper h5 {
    font-family:"spacemono", "Courier New", monospace;
	font-weight:normal;

	font-size:0.875rem;
	text-align:center;
    text-shadow: var(--text-glow-color) 0 0 0.75rem;
	margin: 0 0 1rem 0;
}

main .game .upgrade_panel {
    text-shadow: var(--text-glow-color) 0 0 0.75rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
	align-items:center;
}

main .game .upgrade_list {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
	/* Width is assigned dynamically in JS */
	max-width:100%;
	min-width:27.125rem;
	margin-left: auto;           
  	margin-right: auto;
	flex-wrap: wrap;
	gap:0.5rem;
}

main .game .upgrade_list .upgrade {
	text-shadow: var(--text-glow-color) 0 0 0.75rem;
	background:var(--text-bg-color);
	border:0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
    display:flex;
    flex-direction: column;
	text-align:center;
    justify-content: space-between;
	min-width: 0;
	max-width: 100%;
	flex: 0 1 auto;
    padding:1rem;
	width: 25rem;
}

main .game .upgrade_list .upgrade_button {
	width:100%;
}

main .game .upgrade_list .description {
	font-size: 0.875rem;
}

main .game button {
    padding:0.5rem;
    color:var(--main-color);
    font-family:"spacemono", "Courier New", monospace;
    text-align:center;
    text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
    border: 0.1rem solid var(--main-color);
    box-shadow: 0 0 0.75rem var(--main-box-glow-color),
                inset 0 0 0.75rem var(--main-box-glow-color);
    background-color:var(--main-bg-color-2);
    transition-duration:0.15s;
    font-size:1.25rem;
}

main .game button:hover {
    background-color:var(--main-color);
    color:var(--bg-color);
    cursor:pointer;
}

main .game button:active {
	transform: scale(0.95, 0.95);
	transition-duration:0.05s;
}

main .game button.cannot_buy{
	color:var(--deactivated-glow-color);
	background:var(--deactivated-glow-color);
	text-shadow: var(--deactivated-glow-color) 0 0 0.75rem;
	border: 0.1rem solid var(--deactivated-glow-color);
	box-shadow: 0 0 0.75rem var(--deactivated-glow-color),
				inset 0 0 0.75rem var(--deactivated-glow-color);
}

main .game button.bought{
	color:var(--deactivated-color);
	background:var(--deactivated-glow-color);
	text-shadow: var(--deactivated-glow-color) 0 0 0.75rem;
	border: 0.1rem solid var(--deactivated-glow-color);
	box-shadow: 0 0 0.75rem var(--deactivated-glow-color),
				inset 0 0 0.75rem var(--deactivated-glow-color);
	pointer-events:none;
}

main .game .not_unlocked {
    display: none;
}

main .game .hidden {
    display: none;
}

main .game .upgrade_list .upgrade.hidden {
    display: none;
}

main .game .upgrade_list .upgrade.not_unlocked {
    display: none;
}

main .game .upgrade_list h3 {
	font-family:"spacemono", "Courier New", monospace;
	font-weight:normal;
	font-size: 1.25rem;
	text-align: left;
	vertical-align:top;
	margin:0 0 0.5rem 0;
}

main .game .main_panel p.cost {
	color:var(--main-color);
    font-family:"spacemono", "Courier New", monospace;
    text-align:center;
    text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
	margin-bottom: 0.25rem;
}

main .game .main_panel span.suffix {
	color:var(--main-color);
    font-family:"spacemono", "Courier New", monospace;
    text-align:center;
    text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
}

main .game .purchased_upgrade_list {
	display:flex;
	gap:0.5rem;
	flex-direction:column;
}

main .game .purchased_upgrade_list .purchased_upgrade {
	background:var(--text-bg-color);
	border:0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
	padding:0.5rem;
}

main .game .purchased_upgrade_list h3 {
	font-size: 1.25rem;
	font-weight:normal;
	margin:0;
}

main .game .purchased_upgrade_list .description {
	font-size: 0.875rem;
	font-weight:normal;
}

main .game .process_panel {
	display:flex;
	flex-direction:row;
	gap:1rem;
}

main .game .cores_panel {
	width:15%;
	padding: 1rem;
	background-color: var(--main-bg-color);
	border: 0.1rem solid var(--main-color);
	box-shadow: 0 0 0.75rem var(--main-box-glow-color),
		inset 0 0 0.75rem var(--main-box-glow-color);
}

main .game .cores_panel h2 {
	margin:1rem;
}

main .game .cores_panel h4 {
	font-size: 1.25rem;
	font-weight: normal;
	margin: 0;
}

main .game .cores_panel .wrapper_bar {
	width: 100%;
	height: 1rem;
	border: 0.1rem solid var(--main-color);
	box-shadow: 0 0 0.75rem var(--main-box-glow-color),
		inset 0 0 0.75rem var(--main-box-glow-color);
}

main .game .cores_panel .wrapper_bar .inner_bar {
	margin:0;
	padding:0;
	display:inline-block;
	transition-timing-function: ease-out;
	transition-duration: 0.2s;
	height:1rem;
	width:0%;
	background-color: var(--main-color);
}

main .game .process_list {
	width:85%;
	display:flex;
	flex-direction:column;
	align-items:stretch;
	gap: 1rem;
}

main .game .process_list .process {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	gap:0.5rem;
	padding: 0.5rem;
	background:var(--text-bg-color);
	border: 0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
}

main .game .process_list .process.not_unlocked {
	display:none;
}

main .game .process_panel h3 {
	font-family:"spacemono", "Courier New", monospace;
	font-weight:normal;
	font-size: 1.5rem;
	text-align: left;
	vertical-align:top;
	margin:0 0 0.5rem 0;
}

main .game .process_list .process .button_info {
	font-size: 0.875rem;
}

main .game .process_list .process .button_title {
	font-size: 1.25rem;
}

main .game .process_list .process .process_buttons {
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	gap: 0.5rem;
	width:50%;
}

main .game .process_list .process .process_buttons button {
	font-size: 1rem;
	width:33%;
}

main .game .process_list .process .process_buttons button:active {
	transform: scale(0.95, 0.95);
	transition-duration:0.05s;
}

main .game .process_list .process .process_info {
	display:flex;
	flex-grow:1;
	width:50%;
	flex-direction:column;
}

main .game .process_list .process h3 {
	margin:0;
	font-size: 2rem;
	text-align:left;
	margin-left: 1rem;
}

main .game .process_list .process .description {
	font-size: 0.75rem;
	margin-left: 1rem;
}

main .game .process_list .process .process_info p {
	margin-left: 1rem;
}

main .game .architectures_panel .max_enabled_display {
	text-align:center;
	font-size:1.5rem;
	margin-bottom:1rem;
}

main .game .architectures_panel .architecture_list {
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:stretch;
	gap:1rem;
}

main .game .architectures_panel .architecture_list .no_hypermods_display {
	text-align:center;
}

main .game .architectures_panel .architecture_list .hypermod {
	padding:1rem;
	text-align: left;
	border: 0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
	background: var(--text-bg-color);

	transition-duration:0.5s;
}

main .game .architectures_panel .architecture_list .hypermod.enabled {
	border: 0.1rem solid var(--main-color);
	box-shadow: 0 0 0.75rem var(--main-box-glow-color),
		inset 0 0 0.75rem var(--main-box-glow-color);
	background: var(--main-bg-color);

	transition-duration:0.5s;
}

main .game .architectures_panel .architecture_list .hypermod h3 {
	font-weight:normal;
	font-size:2rem;
	margin:0 0 0.25rem 0;
}

main .game .architectures_panel .architecture_list .hypermod .status_display {
	margin-top:1rem;
}

main .game .hypermods_panel .upgrade_list .upgrade {
	border: 0.1rem solid var(--accent-color);
	box-shadow: 0 0 0.75rem var(--accent-box-glow-color),
		inset 0 0 0.75rem var(--accent-box-glow-color);
	background: var(--accent-bg-color);
}

main .game .beyond_panel .beyond_menu {
	height:10rem;
	border: 0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
	background: var(--text-bg-color);
}

main .game .archive_panel .archive_menu {
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	gap:1rem;
}

main .game .archive_panel .archive_menu h2 {
	margin: 2rem 0 0 0;
	font-weight: normal;
	font-size: 1.75rem;
	color: var(--main-color);
	text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
}

main .game .archive_panel .archive_menu h3 {
	margin: 0 0 0.5rem 0;
	font-weight: normal;
	font-size: 1.25rem;
}

main .game .archive_panel .unlocked_fragments {
	width:100%;
	text-align:center;
}

main .game .archive_panel .unlocked_fragments_list {
	display:flex;
	flex-direction:column;
	justify-items:center;
	align-items:center;
	gap:0.5rem;
	width:100%;
}

main .game .archive_panel .unlocked_fragments_list .fragment {
	display:flex;
	flex-direction:row;
	gap:0.5rem;
	border: 0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
	padding:0.5rem;
	text-align:left;
	align-items:center;
	justify-content:space-between;
	background: var(--text-bg-color);
	width:100%;
}

main .game .archive_panel .unlocked_fragments_list .fragment.not_unlocked {
	display:none;
}

main .game .archive_panel .unlocked_fragments_list .fragment h3 {
	color: var(--main-color);
	text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
	text-align:left;
	height:fit-content;
	margin:0;
	width:15%;
}

main .game .archive_panel .unlocked_fragments_list .fragment .fragment_description {
	text-align:left;
	height:fit-content;
	margin:0;
	width:55%
}

main .game .archive_panel a.fragment_link:link, main .game .archive_panel a.fragment_link:visited {
	color: var(--main-color);
	text-shadow: var(--main-text-glow-color) 0 0 0.75rem;
    border: 0.1rem solid var(--main-color);
    box-shadow: 0 0 0.75rem var(--main-box-glow-color),
        inset 0 0 0.75rem var(--main-box-glow-color);
    background-color:var(--main-bg-color-2);
	text-shadow: var(--main-text-glow-color) 0 0 0.75rem;

	text-decoration:none;
	text-align:center;
	padding:0.5rem;
    transition-duration:0.15s;
    font-size:1.25rem;
	width:25%;
}

main .game .archive_panel a.fragment_link:hover {
	color: var(--main-color);
	background-color:var(--main-color);
    color:var(--bg-color);
    cursor:pointer;
	width:25%;
}

main .game .archive_panel a.fragment_link:active {
	transform: scale(0.95, 0.95);
	width:25%;
}

main .game .options {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	gap: 1rem;
}

main .game .options .option {
	border: 0.1rem solid var(--text-color);
	box-shadow: 0 0 0.75rem var(--text-glow-color),
		inset 0 0 0.75rem var(--text-glow-color);
	background: var(--text-bg-color);
	padding:1rem;
}

main .game .options_panel .options button {
	margin-bottom:1rem;
}

main .game .options_panel .options button:active {
	transform: scale(0.95, 0.95);
	transition-duration:0.05s;
}

main .game .options_panel .options .saved_message {
	color: var(--main-color);
	text-shadow: var(--main-text-glow-color) 0 0 0.5rem;
	
	position:relative;
	top:2.3275rem;
}

main .game p {
	text-align:left;
	font-size: 1rem;
	margin: 0 0 0.5rem 0;
}

main .game .accent_suffix span.suffix {
	color: var(--accent-color);
	font-weight: normal;
	text-shadow: var(--accent-text-glow-color) 0 0 0.5rem;
}

main span.pink {
	color: var(--main-color);
	text-shadow: var(--main-text-glow-color) 0 0 0.5rem;
}	

main strong {
	color: var(--accent-color);
	font-weight: normal;
	text-shadow: var(--accent-text-glow-color) 0 0 0.5rem;
}

main p a:link, main p a:visited {
	color: var(--main-color);
	text-shadow: var(--main-text-glow-color) 0 0 0.5rem;
	transition-duration:0.2s;
}	

main p a:hover {
	color: var(--accent-color);
	text-shadow: var(--accent-text-glow-color) 0 0 0.5rem;
	text-decoration:none;
}	